/* general text formatting */


body {
   font-family: "Roboto", Verdana, Arial, sans-serif;
   font-size: 100%;
 background-color: #ECEFF1;  
}

section {
   background-color: white;
   margin: 1em 4em 1em 4em;
   border: solid 1pt black;

}
section h3 {
  color: white;
  padding: 0.75rem;
  background-color: #263238; 
}

.status {
    border-radius: 0.25rem;
    padding: 3px;
    color: white;
    
}
.status-processing {
    background-color:    #E65100;    
}
.status-shipped {
    background-color:   #4CAF50;    
}
.status-pending {
    background-color:    #03A9F4;    
}



/* table formatting -- you will add these */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th
{
    padding: 0.8em;
    text-align: left;
}

tbody td {                                      
    padding: 0.8em;
                                                                                    
}




/* form styling -- you will add these */
form{
    margin: 0.6em;
}

label{

    display: block;
margin-top: 0.5em;
}

.parentLegend{
    width: 80%;
    text-align: center;
    background-color: #263238;
    color: white;
}

fieldset{
    margin-top: 0.8em;
}


.status{
    text-align: left;
    color: black;
}

button {
    background-color: blue;
    color: white;
    padding: 0.4em;
    margin-top: 0.7em;
}



